<header class="top_block">
    <div class="container">
        <a class="logo">
            <img alt="" src="./assets/img/logo.png">
            <div class="descriptor">Movies</div>
        </a>
        <div class="dropdown">
            <md-menu>
                <md-button ng-click="headerCtrl.openMenu($mdMenu, $event)">Menu</md-button>
                <md-menu-content>
                    <md-menu-item><a ng-click="headerCtrl.closeMenu($mdMenu, $event)" href="#/account">Account</a></md-menu-item>
                    <md-menu-item><a ng-click="headerCtrl.closeMenu($mdMenu, $event)" href="#/">Main</a></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</header>
